body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    display: grid;
    place-items: center; /* Центрирует содержимое по горизонтали и вертикали */
    height: 100vh; /* Занимает всю высоту viewport */
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 100px 0;
}

#add-task-form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px auto;
}

#add-task-form input[type="text"],
#add-task-form input[type="submit"],
a button {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#add-task-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 30px 0;
    border: 1px solid #ddd;
}

#add-task-form input[type="submit"],
.delete-button,
a button {
    background-color: #000;
    color: #E9E9ED;
    border: none;
}

#add-task-form input[type="submit"]:hover,
.delete-button:hover,
a button:hover {
    background-color: #272626;
}

.checkbox {
    margin-right: 10px;
    accent-color: #000000;
}

.checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: #000000;
}

header {
    background-color: #000;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;

}

.logo {
    margin-right: auto;
    max-height: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #F0F0F0;
    padding: 5px 10px;

}

nav li.active a {
    background-color: #333333;
    pointer-events: none;
}

main {
    padding-top: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav-links {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a.active {
    text-decoration: underline;
    pointer-events: none;
    color: rgb(54, 54, 54);
    cursor: default;
}

.nav-links a {
    color: #F0F0F0;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #333333;
}


@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        background-color: #000;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transform: translateX(200%);
        z-index: 1000;
        font-size: 28px;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .menu-icon {
        display: block;
        margin-right: 10px;
        font-size: 40px;
        color: #F0F0F0;
    }

    .close-icon {
        display: block;
        font-size: 40px;
        color: #F0F0F0;
    }

    .content {
        flex-direction: column;
    }


    h3 {
        font-size: 20px;
        /* Уменьшаем размер заголовка */
    }

    .table {
        flex-direction: column; /* Смена направления на вертикальное */
        align-items: center; /* Центрирование колонок по горизонтали */
    }

    .task-column {
        width: calc(100% - 80px); /* Ширина колонки с отступами по 40px с каждой стороны */
        max-width: none;
        margin: 20px 40px;
    }
    .task-item button {
        width: 100%; /* Кнопки занимают полную ширину */
        margin-top: 5px; /* Отступ между кнопками */
    }

}





.main-content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-container {
    max-width: 60%;
}

.main-image {
    max-width: 40%;
    max-height: 40%;
    display: block;
    margin-bottom: 20px;
    /* Отступ снизу */
}


.pik0-image {
    max-width: 50%;
    height: auto;
    margin: 0 auto;
    align-self: center;
}

.error-images {
    max-width: 40%;
    max-height: 40%;
    display: block;
    margin: 20px auto;
}

/* Стили для затемняющего фона */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.overlay.active {
    display: block;
}

h3 {
    border: 1px solid #3a3939;
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    color: #F0F0F0;
    width: 100%; /* Занимает всю ширину колонки */
    box-sizing: border-box; /* Учитывает padding в ширину */
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.table {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.task-column {
    flex: 1;
    min-width: 250px;
    margin: 0px;
    box-sizing: border-box;
}

.task-list {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: center;
    width: 100%; /* Важно для правильного выравнивания */
    box-sizing: border-box;
    margin-top: -20px;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Добавляем разделитель между задачами */
    flex-wrap: wrap; /* Позволяет элементам обтекать друг друга при уменьшении ширины */
   

}
.edit-button,
.delete-button {
    margin-left: 10px; /* Отступ между кнопками */
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}
.edit-button,
.delete-button {
    margin-left: 10px; /* Отступ между кнопками */
    font-family: 'Times New Roman', Times, serif;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 100px; /* Максимальная ширина кнопок */
    flex-shrink: 0; /* Запретить сжатие кнопок */
  
}


